@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&Roboto:wght@300;400;500;700&display=swap');

span {
  color: var(--accent);
}

/* gnb */
.gnb {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 580px;
}
h1 {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 43px;
}
.gnb li {
  font-size: 20px;
  color: #999;
  line-height: 2;
  font-weight: 600;
}
.gnb li:hover {
  color: var(--accent);
}

/* main_title */
.main {
  width: 100%;
  text-align: center;
  /* background: #888; */
}
.main_title {
  margin-left: 35px;
  margin-bottom: 2rem;
  position: relative;
}

.main_title p {
  color: #999;
  line-height: 1.4;
}
.main_title h1 {
  color: var(--accent);
}

/* prev_btn */
.main_title .prev_btn {
  width: 43px;
  height: 43px;
  position: absolute;
  top: -0px;
  left: -10px;
  color: #333;
}
.prev_btn a i {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* photo */
.main_photo {
  width: 100%;
}
.main_photo p {
  width: 1160px;
  margin: 0 auto;
}
.main_photo img {
  border: 1px solid #dbdbdb;
  margin-left: 15px;
  margin-bottom: 100px;
}
