@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&Roboto:wght@300;400;500;700&display=swap');


span {
  color: var(--accent);
}
/* gnb */
.gnb {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 580px;
}
h1 {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 43px;
}
.gnb li {
  font-size: 20px;
  color: #999;
  line-height: 2;
  font-weight: 600;
}
.gnb li:hover {
  color: var(--accent);
}

/* main_title */
.main {
  width: 100%;
  height: 850px;
  text-align: center;
  /* background: #888; */
}
.main_title {
  margin-left: 35px;
  margin-bottom: 3rem;
}

.main_title p {
  color: #999;
  line-height: 1.4;
}
.main_title h1 {
  color: var(--accent);
}

/* banners */
.banners {
  margin-left: 35px;
}
.web_photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web_photo li {
  width: 350px;
  height: 510px;
  overflow: hidden;
  border: 1px solid #eee;
}
.web_photo li:hover {
  opacity: 0.7;
}
.web_photo li a {
  width: 100%;
  display: block;
  height: 510px;
}
.web_photo li img {
  width: 350px;
  height: 510px;
  overflow: hidden;
}
