@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&Roboto:wght@300;400;500;700&display=swap');

span {
  color: var(--accent);
}
/* gnb */
.gnb {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 580px;
}
h1 {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 43px;
}
.gnb li {
  font-size: 20px;
  color: #999;
  line-height: 2;
  font-weight: 600;
}
.gnb li:hover {
  color: var(--accent);
}

/* main_title */
.main {
  width: 100%;
  text-align: center;
  /* background: #888; */
}
.main_title {
  margin-left: 35px;
  margin-bottom: 3rem;
}

.main_title p {
  color: #999;
  line-height: 1.4;
}
.main_title h1 {
  color: var(--accent);
}

/* main_title */
.main {
  width: 100%;
  text-align: center;
  /* background: #888; */
}
.main_title {
  margin-left: 35px;
}

.main_title p {
  color: #999;
  line-height: 1.4;
}
.main_title h1 {
  color: var(--accent);
}

/* banners */
.banners {
  /* background: green; */
  margin-left: 35px;
  /* width: 1115px; */
}
.banners ul.photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 20px; */
}
.banners ul.photos li {
  cursor: pointer;
  margin-bottom: 50px;
}

.banners ul.photos img {
  width: 350px;
  height: 350px;
    border: 1px solid #dbdbdb
/*  box-shadow: 6px 10px 14px 1px rgba(0, 0, 0, 0.25);*/
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap:50px; */
}
.banners ul.photos li:hover {
  opacity: 0.7;
}
