@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&Roboto:wght@300;400;500;700&display=swap');

.wrap {
  position: relative;
  /* background: black; */
}
.container {
  width: 90%;
  max-width: 1315px;
  margin: 0 auto;
}
span {
  color: var(--accent);
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 872px;
  height: 628px;
  z-index: 100;
  display: none;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
  /* font-family: 'Roboto', sans-serif; */
}
.modal_top {
  position: absolute;
  top: 27px;
  right: 80px;
  color: #21ade7;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  /* font-family: 'Roboto', sans-serif; */
}
.modal_top i {
  margin-left: 10px;
  font-size: 30px;
  line-height: 20px;
}
.close i {
  position: absolute;
  top: 27px;
  right: 30px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.modal footer {
  position: absolute;
  bottom: 12px;
  right: 50%;
  color: #21ade7;
  font-size: 10px;
}
/* modal_left */
.modal_01 .photo {
  width: 214px;
  height: 214px;
  margin: 92px 0 0 39px;
}
.moadal_left {
  margin: 18px 0 0 64px;
}

.info {
  width: 415px;
  display: flex;
}

.moadal_left h4 {
  width: 53px;
  color: #21ade7;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
  line-height: 1.7;
}
.moadal_left p {
  line-height: 1.7;
}
/* modal_right */
.modal_right {
  position: absolute;
  top: 103px;
  right: 58px;
  display: flex;
}
.modal_01 h2 {
  font-size: 17px;
  font-weight: 500;
  color: #222;
}
.edu_text,
.certi_text {
  display: flex;
  flex-direction: column;
}

.edu_text p,
.certi p {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
.e_2019,
.e_2020,
.c_2020,
.d_2020 {
  display: flex;
}
.e_2019 {
  margin: 0 30px 8px 0;
}
.modal_right h2 {
  margin-bottom: 17px;
}

.modal_right p {
  display: block;
  margin-right: 7px;
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
}
.modal_right h5 {
  line-height: 22px;
}
.edu {
  display: block;
  margin-right: 10px;
}
.edu,
.certi {
  font-size: 14px;
  color: #4e4d4d;
}
/* modal_skill */
.skill {
  position: absolute;
  top: 290px;
  left: 425px;
  display: flex;
  width: 360px;
  /* height: 168px; */
}
.skill h2 {
  margin-right: 36px;
}
.skill .skills {
  display: flex;
  flex-wrap: wrap;
}
.skill .skills .sk {
  width: 44px;
  height: 44px;
  margin-right: 60px;
  margin-bottom: 36px;
}
.sk p {
  color: #969696;
  font-size: 11px;
  text-align: center;
  margin-top: 11px;
  font-family: 'Roboto', sans-serif;
}
.skill .skills .sk:nth-child(3),
.skill .skills .sk:nth-child(6) {
  margin-right: 0;
}
/* modal_like */
.like {
  position: absolute;
  top: 466px;
  left: 425px;
  display: flex;
}
.like h2 {
  margin-right: 45px;
}
.like .likes {
  display: flex;
  margin-top: 20px;
}
.like .likes .li {
  width: 46px;
  height: 46px;
  margin-right: 60px;
  margin-bottom: 36px;
}
.like .likes .li p {
  color: #969696;
  font-size: 11px;
  text-align: center;
  margin-top: 11px;
  font-family: 'Roboto', sans-serif;
}

/* button*/
.next {
  position: absolute;
  top: 46%;
  right: 300px;
  /* transform: translateY(-50%); */
  z-index: 5;
  cursor: pointer;
  display: none;
  width: 60px;
}
.prev {
  position: absolute;
  top: 45%;
  left: 300px;
  /* transform: translateY(-50%); */
  z-index: 5;
  cursor: pointer;
  display: none;
  width: 60px;
}
.modal_02 {
  /* background: #fffbec; */
}
.modal_02 h2 {
  position: absolute;
  top: 140px;
  left: 84px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal_02 p {
  position: absolute;
  top: 200px;
  left: 85px;
  color: #777777;
  width: 300px;
  line-height: 1.4;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.modal_02 .photo {
  position: absolute;
  top: 110px;
  right: 70px;
  width: 370px;
  font-family: 'Roboto', sans-serif;
}
.modal_02 h5 {
  position: absolute;
  bottom: 146px;
  right: 50px;
  color: #777;
  font-size: 13px;
}
/* dimm */
.dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .container.top {
  display: flex;
  align-items: center;
}
.left {
  display: flex;
  margin-right: auto;
}
.left .logo:hover {
  filter: invert(48%) sepia(86%) saturate(971%) hue-rotate(166deg) brightness(103%) contrast(81%);
}
.logo_extra {
  line-height: 50px;
  margin-left: 20px;
  font-size: 13px;
  color: #333;
}
.nav {
  display: flex;
}

.nav li {
  font-size: 20px;
  letter-spacing: -1px;
  position: relative;
  padding: 0 20px;
  margin: 0 20px;
}

.nav li a {
  display: block;
}

.nav li a:hover {
  color: var(--accent);
  font-weight: 500;
}

.nav li a:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--accent);
}

/* section */
.banner {
  background: url(../images/bg1.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.banner_text {
  font-size: 30px;
  letter-spacing: 1rem;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  /* background: #000; */
}
.hi {
  margin-bottom: 70px;
}
.my {
  letter-spacing: 1.6rem;
}
