@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
:root {
  --primary: #000;
  --accent: #21ade7;
  --gray-light: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  position: relative;
  /* background: black; */
}
.container {
  width: 90%;
  max-width: 1315px;
  margin: 0 auto;
}
span {
  color: var(--accent);
}
/* header */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: gray; */
  height: 160px;
}

.left {
  display: flex;
}

.logo_extra {
  line-height: 28px;
  margin-left: 23px;
  font-size: 14px;
}
.nav {
  display: flex;
}

.nav li {
  margin-right: 30px;
  font-size: 20px;
  letter-spacing: -1px;
}
.nav li:nth-child(1) {
  margin-right: 69px;
}
.nav li:nth-child(2) {
  margin-right: 0;
}

/* section */
.banner {
  background: url(../images/bg1.jpg);
  background-size: cover;
  height: 780px;
}
.banner_text {
  padding: 230px 0;
  font-size: 30px;
  letter-spacing: 1rem;
  line-height: 3rem;
}
.hi {
  margin-bottom: 50px;
}
.my {
  letter-spacing: 1.6rem;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 872px;
  height: 628px;
  z-index: 1000;
}
.modal_top {
  position: absolute;
  top: 25px;
  right: 106px;
  color: #21ade7;
  font-size: 17px;
  display: flex;
}
.modal_top i {
  margin-left: 10px;
  font-size: 30px;
  line-height: 20px;
}
.close {
  position: absolute;
  top: 27px;
  right: 55px;
  cursor: pointer;
}
/* modal_photo */
.photo img {
  width: 214px;
  height: 214px;
  margin: 92px 0 0 39px;
}
.photo_info {
  margin: 18px 0 0 64px;
}
.info {
  display: flex;
}
.info h4 {
  width: 53px;
  color: #21ade7;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
  line-height: 1.7;
  /* background: black; */
}

.info p {
  font-size: 14px;
  line-height: 1.7;
}
