@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

span {
  color: var(--accent);
}
/* gnb */
.gnb {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 580px;
}
h1 {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 43px;
}
.gnb li {
  font-size: 20px;
  color: #999;
  line-height: 2;
  font-weight: 600;
}
.gnb li:hover {
  color: var(--accent);
}

/* main_title */
.main {
  width: 1162px;
  text-align: center;
  /* background: #888; */
}
.main_title {
  margin-left: 35px;
  margin-bottom: 2rem;
  position: relative;
}

.main_title p {
  color: #999;
  line-height: 1.2;
}
.main_title h1 {
  color: var(--accent);
}
/* prev_btn */
.main_title .prev_btn {
  width: 43px;
  height: 43px;
  position: absolute;
  top: -20px;
  left: -10px;
  color: #333;
}
.prev_btn a i {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* banners */
.banners {
  /* background: green; */
  margin-left: 35px;
}
.banners ul.photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.banners ul.photos li {
  display: flex;
  width: 300px;
  height: 660px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
  box-shadow: 6px 10px 14px 1px rgba(0, 0, 0, 0.25);
}

.banners ul.photos li a img {
  border-radius: 30px;
}
