
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&Roboto:wght@300;400;500;700&display=swap');

span {
  color: var(--accent);
}


/* gnb */
.gnb {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 580px;
}
h1 {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 43px;
}
.gnb li {
  font-size: 20px;
  color: #999;
  line-height: 2;
  font-weight: 600;
}
.gnb li:hover {
  color: var(--accent);
}

/* main_title */
.main {
  width: 100%;
  text-align: center;
  /* background: #888; */
}
.main_title {
  margin-left: 35px;
  position: relative;
}

.main_title:after {
  content: '';
  display: none;
  width: 267px;
  height: 1px;
  margin: 35px auto;
  background: #999;
}

.main_title p {
  color: #999;
  line-height: 1.4;
}
.main_title h1 {
  color: var(--accent);
}

/* prev_btn */
.main_title .prev_btn {
  width: 43px;
  height: 43px;
  position: absolute;
  top: -0px;
  left: -10px;
  color: #333;
}
.prev_btn a i {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* photo */
.main_photo{
  width: 100%;
}
.main_photo h4{
  background:#21ADE7;
  color:#fff;
  width: 148px;
  height: 35px;
  line-height: 33px;
  border-radius: 34px;
  text-align: center;
  font-weight: 300;
  justify-content: space-between;
  margin: 30px auto;
  font-size: 17px;
}
.main_photo h4 a{
  display: block;
  width: 100%;
}
.main_photo h4:hover{
  opacity: 0.8
}
.main_bottom{
  display: flex;
  justify-content: space-between;
  
}
.main_photo p{
  
}
.main_photo .phone{
  width: 280px;
  display: inline-block;
  margin-left: 35px;
}

.main_photo .com{
  width: 830px;
  display: inline-block;
}
.main_photo img{
  /* box-shadow: 6px 10px 14px 1px rgba(0, 0, 0, 0.25); */
  border: 1px solid #dbdbdb;
  margin-bottom: 50px
}