@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eeeeed;
}
.go_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 10px 6 rgba(0, 0, 0, 0.12);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* section {
  margin: 20px 0;
  padding: 30px 0;
} */

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
}
.logo {
  margin-left: 25px;
}
.nav {
  display: flex;
}

.nav a {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.slider {
  position: relative;
}

.slide .item {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide .item_01 {
  background-image: url(../Twilight.image/bg/bg_1.jpg);
}

.slide .item_02 {
  background-image: url(../Twilight.image/bg/bg_2.jpg);
}

.slide .item_03 {
  background-image: url(../Twilight.image/bg/bg_3.jpg);
}
.slide .item_04 {
  background-image: url(../Twilight.image/bg/bg_4.jpg);
}
.slide .item_05 {
  background-image: url(../Twilight.image/bg/bg_5.jpg);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 60px;
}

.arrow i {
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

/* slick_dots */
.slick-dots li {
  bottom: 50px;
}

/* section_01 */
.section_01 {
}
.container.sec_01 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  /* background: red; */
}
.section_01 img {
  width: 163px;
  height: 230px;
  padding-right: 50%;
}
.tel_02,
.tel_03,
.tel_04,
.tel_05,
.tel_06,
.tel_07 {
  display: flex;
}
.section_01 span {
  border-left: 1px solid #999;
  line-height: 2px;
  margin: 0 15px;
}
.section_01.text {
  line-height: 1.8rem;
  padding-bottom: 35px;
  border-bottom: 2px solid #dddbdb;
  /* background: chartreuse; */
}
.section_01 h3 {
  font-size: 20px;
  font-weight: 700;
}
.tel_02 {
  font-size: 18px;
}
.sec_01 .tel_02 p {
  color: red;
}

.section01_info {
  font-size: 15px;
}

.section_01 h5 {
  color: #777;
  font-weight: 600;
  margin-right: 20px;
}
/* section01 _foot */
.sec_01_foot {
  padding: 4rem 0;
  /* background: red; */
  line-height: 1.6rem;
  border-bottom: 2px solid #dddbdb;
  text-align: center;
}

.sec_01_foot h4 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sec_01_foot h5 {
  font-size: 16px;
  color: #888;
}
.sec_01_foot h6 {
  font-size: 17px;
  color: #888;
  font-weight: 700;
  margin-top: 15px;
}

/* section02 */
.section_02 .container {
  position: relative;
  border-bottom: 2px solid #dddbdb;
  padding: 4rem 0;
}

.section_02 .title_area h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section_02 .title_area p {
  position: absolute;
  top: 4.5rem;
  right: 0;
  font-size: 15px;
  color: #777;
}
.section_02 .avatar {
  display: flex;
  justify-content: space-between;
}

.section_02 .avatar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 48px 0;
}
/* section03 */
.section_03 img {
  width: 150px;
  height: 200px;
  padding-right: 50%;
}
.section_03 .container.sec_03 {
  padding: 4rem 0;
  margin: 0 auto;
  justify-content: center;
}
.section_03 .sec_03_title {
  display: flex;
}
.container.sec_03 {
  display: flex;
}

.section_03 .tel_03,
.section_03 .tel_04,
.section_03 .tel_05 {
  display: flex;
}

.section_03.text {
  line-height: 1.8rem;
}

.section_03 h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tel_02 {
  font-size: 18px;
}
.section_03.text h6 {
  font-size: 13px;
  color: #777;
  margin: 0 20px;
}
.section03_info {
  font-size: 15px;
}

.section_03 h5 {
  color: #777;
  font-weight: 600;
  margin-right: 20px;
}
/* section04_banner */
.banner {
  background: url();
}
